@charset "UTF-8";


/*
    Init
 */

/* Reset (for old browsers) */
article, aside, footer, header, nav, section {
    display: block;
}


/* Animations */

@keyframes vmWobble {

    0%, 97%, 100% {
        transform: scale(1);
    }

    20% {
        transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
        transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
        transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }

}

@keyframes vmScroll {

    0%, 100% {
        transform: translateY(0) scale(3);
    }

    50% {
        transform: translateY(50%) scale(3);
    }

}

@keyframes vmSlideInDown {

    from {
        transform: translate3d(0, -100vh, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }

}

@keyframes vmSlideInRight {

    from {
        transform: translate3d(100vw, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }

}


/*
    Global styles
 */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
}

#wrap {
    background-color: #fff;
}

.site-title {
    user-select: none;
}

#splash {
    z-index: 9;
    background-color: #000000c9;
    display: flex;
    cursor: wait;
}


/*
    Top navigation bar
 */

#top-bar {
    position: absolute;
    top: 0;
    z-index: 2;
}

#top-bar.fixed {
    position: fixed;
    animation: 300ms ease vmSlideInDown;
}

#top-bar li {
    position: relative;
}

#top-bar .sub-menu {
    display: none;
}


/*
    Bootstrap responsive breakpoints and screen conditionals
 */

/* Greater than 'xs' */

@media (min-width: 576px) {

}


/* Greater than 'sm' */

@media (min-width: 768px) {

}


/* Greater than 'md' */

@media (min-width: 992px) {

    #tb-parent .sub-menu {
        position: absolute;
        top: 100%;
        margin-top: .5rem;
        width: max-content;
        padding: 0 1rem;
        background-color: #343a40;
    }

    #tb-parent .sub-menu:hover {
        display: block;
    }

    #tb-parent > .menu-item-has-children:before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        margin-bottom: -.5rem;
        width: 100%;
        height: .5em;
    }

    #tb-parent > .menu-item-has-children:hover > .sub-menu {
        display: block;
        animation: 300ms ease vmSlideInDown;
    }

    #tb-parent > .current-post-ancestor > .nav-link, #tb-parent > .current-post-parent > .nav-link {
        color: rgba(255, 255, 255, 0.75);
    }

    #tb-parent > .current-post-ancestor:before, #tb-parent > .current-post-parent:before {
        width: auto;
        border: .5em solid transparent;
        border-bottom: .5em solid;
        border-top: 0;
        color: rgba(255, 255, 255, 0.75);
        left: 50%;
        transform: translateX(-50%);
    }

}


/* 'xl' */

@media (min-width: 1200px) {

}


/* Smaller than 'xl' */

@media (max-width: 1199px) {

}


/* Smaller than 'lg' */

@media (max-width: 991px) {

    #tb-parent {
        position: fixed;
        right: 0;
        display: none;
        width: max-content;
        padding: 0 1rem;
        background-color: #343a40;
    }

    #tb-parent.open {
        display: block;
        animation: 300ms ease vmSlideInRight;
    }
}


/* 'md' and 'lg' */

@media (min-width: 768px) and (max-width: 1199px) {

}


/* 'sm' and 'md' */

@media (min-width: 576px) and (max-width: 991px) {

}


/* 'xs' and 'sm' */

@media (max-width: 575px) {

}


/* 'lg' */

@media (min-width: 992px) and (max-width: 1199px) {

}


/* 'md' */

@media (min-width: 768px) and (max-width: 991px) {

}


/* 'sm' */

@media (min-width: 576px) and (max-width: 767px) {

}


/* 'xs' */

@media (max-width: 575px) {

}


/* Portrait orientation ( if ( height > width ) ) */

@media (orientation: portrait) {

}
