@charset "UTF-8";


/*
    Global
 */

html {
    scroll-snap-type: y mandatory;
}

html .scroll-snap {
    scroll-snap-align: start;
}


/*
    Tiers
 */

.tier {
    min-height: 100vh;
}

.tier .content-roll {
    border-top: 4px inset #00000008;
    padding-right: 10px;
}

#tier-nav {
    z-index: 8;
    background-color: #fffc;
}

#tier-nav .navbar-brand {
    font-size: 110%;
}

#tier-nav div {
    border-bottom: 1px solid #3c3c3c30;
    background-color: #fff;
}

#tier-nav div.active {
    background-color: #000;
}

#tier-nav .nav-link {
    color: #000000;
}

#tier-nav .active .nav-link {
    color: #fff;
}

#tier-nav .nav-link.active {
    color: #ffffff;
}


/* Tier 0 */

#tier-0 {
    background: url(../bin/img/top-front-page.jpg) center/cover no-repeat fixed;
    overflow-y: visible;
}

#tier-0 .txt-on-img {
    background-color: #313a5163;
    padding: 20vh 10vw;
    top: 0;
    left: 0;
}

#tier-0 .site-title {
    font-size: 400%;
    margin-bottom: 5vh;
}

#scroll-down {
    bottom: 3vh;
    right: 1vw;
    height: 9vh;
    width: 14vw;
}

#scroll-down a:before {
    user-select: none;
    color: #fff;
    animation: 1s ease infinite both vmScroll;
}


/* Tier 1 */

#tier-1 article {
    border-bottom: 1px solid #e0e0e0;
}

#tier-1 .post-link:hover .post-title, #tier-1 .post-link:active .post-title {
    text-decoration: underline;
}

#tier-1 .post-link:hover article, #tier-1 .post-link:active article {
    box-shadow: inset #000 4px 0 0, inset #000 -4px 0 0;
}


/* Tier 2 */

#tier-2 .post-title {
    font-size: 120%;
}


/*
    Bootstrap responsive breakpoints and screen conditionals
 */

/* Greater than 'md' */

@media (min-width: 992px) {

    .tier {
        padding-right: 15vw;
    }

    #tier-nav {
        font-size: 90%;
        position: absolute;
        top: 100%;
        right: 1vw;
        width: 14vw;
    }

    #tier-nav.fixed {
        position: fixed;
        top: 0;
    }

    #tier-nav div {
        width: 100%;
    }

    #tier-nav div:last-child {
        border: 0;
    }

}


/* Smaller than 'lg' */

@media (max-width: 991px) {

    #tier-nav-toggle {
        top: 50%;
        right: 0;
        z-index: 5;
        opacity: .1;
        transform: translate(50%, -50%);
        transition: opacity .3s ease-in-out;
        clip-path: ellipse(40% 50% at 50% 50%);
        width: 50px;
        height: 80px;
    }

    #tier-nav-toggle.highlighted {
        opacity: 1;
    }

    #tier-nav-toggle .dashicons {
        height: 100%;
        width: 51%;
        background-color: #cccccc;
        color: #000;
        font-size: 250%;
    }

    #tier-nav-toggle .dashicons:after {/* content: ""; */position: absolute;width: 55px;height: 30px;background-color: #ffffff;z-index: 4;display: block;border-radius: 50%;top: 0px;right: 94%;}

    #tier-nav-toggle button:focus {
        outline: 0;
    }

    #tier-nav-toggle .dashicons:before {
        position: relative;
        right: 85%;
        transition: content .3s ease-in-out;
    }

    #tier-nav-toggle.open .dashicons-arrow-left:before {
        content: "\f139";
    }

    #tier-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        font-size: 110%;
        transform: translate3d(100vw, 0, 0);
        transition: transform .3s ease-in-out;
        display: block;
    }

    #tier-nav .navbar-brand {
        padding: 0.5rem 1rem;
    }

    #tier-nav.open {
        transform: translate3d(0, 0, 0);
    }

    #tier-nav div {
        width: 100%;
        opacity: 0;
        transition: opacity .3s .4s;
    }

    #tier-nav.open div {
        opacity: 1;
    }

}


/* 'sm' and 'md' */

@media (min-width: 576px) and (max-width: 991px) {
}


/* Smaller than 'md' */

@media (max-width: 767px) {
}


/* Smaller than 'sm' */

@media (max-width: 575px) {

    #tier-0 .site-title {
        font-size: 200%;
    }

}


/* 'md' */

@media (min-width: 768px) and (max-width: 991px) {
}


/* Portrait orientation ( if ( height > width ) ) */

@media (orientation: portrait) {

    #tier-0 {
        background: url(../bin/img/top-front-page.jpg) 100% 0%/cover no-repeat fixed;
        padding: 15vh 3vw;
    }

    #tier-0 .site-title {
        font-size: 300%;
        margin-bottom: 10vh;
    }

    #scroll-down {
        width: 10vw;
        height: 10vw;
        right: 50%;
        transform: translateX(50%);
    }

    #scroll-down:before {
        font-size: 6vw;
        height: 6vw;
        width: 6vw;
        line-height: 6vw;
    }

    #tier-1 .tier-title {
        font-size: 250%;
    }

}
