
/* Header */
header {
    min-height: 100vh;
    background: url("../bin/img/sample-fp-top.jpg") center center/cover no-repeat fixed border-box;
}

#fp-top-bar {
    background-color: rgba(45, 7, 45, 0.62);
    font-family: Yekan !important;
}

#fp-top-bar .navbar-nav .nav-link:focus, #fp-top-bar .navbar-nav .nav-link:hover,  #fp-top-bar .navbar-nav .nav-link {
    color: #fff;
}

/* Section 1 */
#four-cards .card-img-top {
    font-size: 8em;
    text-align: center;
    color: #692169;
}

#four-cards .post a {
    color: #000;
}

#four-cards .card {
    transition: all .2s ease-in-out;
}

#four-cards .post a:hover {
    color: #fff;
}

#four-cards .post a:hover .card {
    background-color: #2d072d;
}

#four-cards .post:hover .card-img-top {
    color: #b726b7;
}

/* Section 2 */
#scroll-text {
    height: 95vh;
    box-sizing: content-box;
}

#scroll-text .bg-img {
    background: url("../bin/img/sample-fp-top.jpg") center center/cover no-repeat fixed border-box;
    filter: blur(5px);
    box-shadow: inset 0 0 0em 20em #0000006b;
}

/* Conditionals */
@media (min-width: 768px) {

    #four-cards .card {
        height: 20em;
        overflow: hidden;
    }

}

@media (min-width: 992px) {

    /* Header */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    #menu-item-sign-in {
        display: list-item !important;
    }

}
