@media (max-width: 575px) {

    .lead {
        font-size: calc(.8rem + .5vw);
    }

    .px-5 {
        padding-left: 3vw !important;
        padding-right: 3vw !important;
    }

}

@media (max-width: 200px) and (min-height: 220px) {

    .px-5 {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
    }

}

@media (max-width: 575px) and (max-height: 219px) {



}