#welcome {
    background: url(../../bin/img/top-front-page.jpg) center/cover no-repeat fixed;
}

.site-title, #scroll-down {
    background-color: #00000050;
}

.site-title, #scroll-down:before {
    user-select: none;
    color: #fff;
}

.site-title {
    margin-top: 15vh;
    display: inline-block;
}

#scroll-down {
    bottom: 0;
    right: 1vw;
    width: 5vw;
    height: 5vw;
    padding-bottom: 1vh;
}

#scroll-down:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    height: 5vw;
    width: 5vw;
    line-height: 5vw;
    animation: 1s linear 0s infinite alternate vmWiggle;
}

.cat-ball-place {
    width: 15vw;
    height: 15vw;
    perspective: 50vw;
    perspective-origin: 50% 50%;
}

.cat-ball {
    cursor: pointer;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

.cat-ball:before, .cat-ball:after, .cat-ball .cat-icon:before {
    position: absolute;
}

.cat-ball:before, .cat-ball:after {
    content: "";
    border-radius: 50%;
}

.cat-ball:before {
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2;
}

.cat-ball:after {
    width: 100%;
    height: 100%;
    top: 5%;
    left: 10%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(118, 222, 239, 0.8) 14%, rgba(5, 81, 148, 0) 24%);
    transform: translate(-4.5vw, -5vw) skewX(-22deg);
    filter: blur(10px);
}

.cat-icon, .cat-name {
    transition: transform .5s .2s;
}

.cat-icon:before {
    text-align: center;
    height: 10vw;
    width: 10vw;
    left: 50%;
    top: 50%;
    color: #c5c7c7d1;
    font-size: 8vw;
    font-weight: 700;
    line-height: 10vw;
    transform: translate(-50%, -50%);
    transition: color .2s;
}

.cat-name {
    z-index: 2;
    top: 50%;
    color: #fff;
    font-size: 4vw;
    font-weight: 900;
}

.cat-ball:hover .cat-icon:before {
    color: #fff;
}

.cat-ball .cat-name {
    transform: translateY(-250%);
}

.cat-ball:hover .cat-icon {
    transform: translateY(150%);
}

.cat-ball:hover .cat-name {
    transform: translateY(-50%);
}

.cat-content {
    top: 0;
    left: 0;
    background-color: #fff;
}

.cat-content-back-btn {
    padding: 1em 0 0 1em;
}

.cat-accordion-head {
    padding: 0;
}

.cat-accordion .btn:focus {
    box-shadow: none;
}

.cat-accordion .btn[aria-expanded="true"], .cat-accordion-head:hover .btn {
    color: #fff;
    background-color: #000000bf;
}

.cat-accordion-head button {
    padding: .75rem 1.25rem;
}

@media (max-width: 575px) {

    #scroll-down {
        width: 10vw;
        height: 10vw;
        right: 50%;
        transform: translateX(50%);
    }

    #scroll-down:before {
        font-size: 6vw;
        height: 6vw;
        width: 6vw;
        line-height: 6vw;
    }

    .holder {
        width: 75vw;
        height: 75vw;
    }

    .cat-ball:after {
        transform: translate(-22.5vw, -23vw) skewX(-22deg);
    }

    .cat-icon:before {
        height: 55vw;
        width: 55vw;
        font-size: 50vw;
        line-height: 55vw;
    }

    .cat-name {
        font-size: 20vw;
    }

}

@media (max-width: 200px) and (min-height: 220px) {

    .site-title {
        margin-top: 5vh;
    }

}

@media (max-width: 575px) and (max-height: 219px) {
}