@charset "UTF-8";

body {
    overflow: hidden;
}

#splash {
    z-index: 9;
    display: flex;
}

.letter:not(.animated) {
    opacity: 0;
}

#fp-nav {
    z-index: 8;
    top: 0;
}

#fp-nav-items {

}

.fp-tier {
    padding-top: 4rem;
}

#scroll-down, #fp-nav-items {
    background-color: #000000;
}

#scroll-down a:before {
    user-select: none;
    color: #fff;
}

#scroll-down {
    bottom: 0;
    right: 1vw;
    height: 5vw;
    width: 10vw;
}

#scroll-down a:before {
    animation: 1s ease infinite both vmWiggle;
}

@media (max-width: 575px) {

    #scroll-down {
        width: 10vw;
        height: 10vw;
        right: 50%;
        transform: translateX(50%);
    }

    #scroll-down:before {
        font-size: 6vw;
        height: 6vw;
        width: 6vw;
        line-height: 6vw;
    }

}

@media (min-width: 1200px) {

    .fp-tier:not([data-no="1"]) {
        padding-right: 11vw;
    }

    #fp-nav-items {
        position: absolute;
        top: 100%;
        right: 1vw;
        width: 10vw;
    }

}

@media (max-width: 200px) and (min-height: 220px) {
}

@media (max-width: 575px) and (max-height: 219px) {
}