.category {
    width: 75%;
    background-color: #00000082;
    right: 0;
}

.category .tab {
    left: -1.41rem;
    transform: rotate(90deg);
    top: 10rem;
    transform-origin: 0;
    padding: 0 2rem;
    background-color: #00000082;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}