@charset "UTF-8";

@font-face {
    font-family: vm-icons;
    src: url(../../bin/font/vm-icons.eot);
    src: url(../../bin/font/vm-icons.eot?#iefix) format('embedded-opentype'),
    url(../../bin/font/vm-icons.woff2) format('woff2'),
    url(../../bin/font/vm-icons.woff) format('woff'),
    url(../../bin/font/vm-icons.ttf)  format('truetype'),
    url(../../bin/font/vm-icons.svg#svgvm-icons) format('svg');
    font-display: block;
}

.vm-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: vm-icons !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.share:before {
    content: "\e900";
}

.guide:before {
    content: "\e901";
}

.idea:before {
    content: "\e902";
}

.make:before {
    content: "\e903";
}

.caret-left:before {
    content: "\e904";
}

.caret-right:before {
    content: "\e905";
}
