.exc-post, #desc-main, .pagination {
    font-family: GlobalScience, SNT-UR-Light, sans-serif !important;
    font-weight: 100;
}
#list .ttl-post {
    font-family: Zarreen, SNT-UR-Bold, sans-serif !important;
    font-weight: 900;
}
.pagination .links > :first-child {
    padding-right: initial;
    padding-left: 1em;
}
.pagination .links > :last-child {
    padding-left: initial;
    padding-right: 1em;
}
@media ( min-width: 480px ) {
    #list .txt {
        margin-left: initial;
        margin-right: 8px;
    }
}